{% load static %}
<footer class="ftco-footer  ftco-section" style="background-color: #2a2a2b;">
        <div class="container">
            <h1 class="text-center" style="color:white;font-family: 'EB Garamond'; font-size:3.5rem;">Let's Build Something Together.
            </h1>
            <br>
            <div class="row d-flex justify-content-center">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <p class="text-center mt-3 small" style="color: #fff;">
                    <a href="https://www.termsofusegenerator.net/live.php?token=hJdpMnn8aZGLOwQaLKxRtaWtC5ANnKkR" target="_blank" style="color:#fff!important">Terms of Use</a> &nbsp;|&nbsp; 
                    <a href="https://www.privacypolicygenerator.info/live.php?token=YZZYqH4Dy1Ahq3CjrQalOXtbUsBHpDP4" target="_blank" style="color:#fff!important">Privacy Policy</a> &nbsp;
                    </p>

                    <p class="text-center" style="color: #fff; font-size: 30px;">
                        <a href="https://github.com/fredricksimi" target="_blank"><img src="{% static 'img/gh.JPG' %}" style="border-radius: 14px; width: 30px;height:auto;"></a> &nbsp;&nbsp; 
                        <a href="https://www.linkedin.com/in/fredrick-simi-a27904164/" target="_blank"><img src="{% static 'img/in.JPG' %}" style="border-radius: 14px; width: 30px;height:auto;"></a> &nbsp;&nbsp; 
                        <a href="mailto:hello@fredricksimi.com" target="_blank"><img src="{% static 'img/ma.JPG' %}" style="border-radius: 14px; width: 30px;height:auto;"></a>
                    </p>

                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center pt-3">

                    <p style="color:white;" class="small">
                        Copyright &copy;&nbsp;
                        <script>document.write(new Date().getFullYear());</script> &nbsp;|&nbsp; Fredrick Simi
                        &nbsp;|&nbsp; All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>