{% extends "mainapp/base.html" %}
{% load static %}

{% block content %}
<style>
    html,
    body {
        width: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
</style>
{% include "mainapp/nav.html" %}
<div class="hero-wrap hero-bread" style="background-image: url('../../../static/img/web.jpg'); padding: 13em 0;">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread"><span style="color:white;"><b>Dive a little deeper</b></span>
                    <h1>
            </div>
        </div>
    </div>
</div>

<br>
<h4 class="text-center">Look mom - <span style="color:#870aa2;letter-spacing: 2px; text-transform: uppercase;">I'm
        legit!</span></h4>
<br>
<section class="container ftco-section" style="padding: 2em 0 0;">
    <div class="row">
        <div class="col-md-3 col-6 ftco-animate">
            <center>
                <a href="https://www.youracclaim.com/badges/36c5920d-304e-455c-bfa7-93364da929cf/public_url"
                    target="_blank">
                    <img src="{% static 'img/ai.png' %}" class="img-fluid" style="width: 200px; height:auto;">
                </a>
                <p class="small" style="font-size: 100%;">Artificial Intelligence</p>
            </center>
        </div>
        <div class="col-md-3 col-6 ftco-animate">
            <center>
                <a href="https://www.youracclaim.com/badges/392a7620-e9dd-4c0e-b818-b4c0820dfbc6/public_url"
                    target="_blank">
                    <img src="{% static 'img/blockchain.png' %}" class="img-fluid" style="width: 200px; height:auto;">
                </a>
                <p class="small" style="font-size: 100%;">Blockchain</p>
            </center>
        </div>
        <div class="col-md-3 col-6 ftco-animate">
            <center>
                <a href="https://www.youracclaim.com/badges/23811a1a-1e63-43c3-be26-d083e96e4b66/public_url"
                    target="_blank">
                    <img src="{% static 'img/cloud.png' %}" class="img-fluid" style="width: 200px; height:auto;">
                </a>
                <p class="small" style="font-size: 100%;">Cloud Computing</p>
            </center>
        </div>

        <div class="col-md-3 col-6 ftco-animate">
            <center>
                <a href="https://www.youracclaim.com/badges/30840f88-820b-4a64-916c-38f5816e9bb3/public_url"
                    target="_blank">
                    <img src="{% static 'img/cyber.png' %}" class="img-fluid" style="width: 200px; height:auto;">
                </a>
                <p class="small" style="font-size: 100%;">Cybersecurity</p>
            </center>
        </div>

    </div><br><br>
    <p class="text-muted small text-center" style="font-size: 100%;"><i>Click the badges to verify</i></p>
</section>

<h3 class="text-center"
    style="letter-spacing: 3px; font-family: 'Lato'; font-weight: 300; font-size: 30px; text-transform: uppercase; padding-top:4em;">
    some stuff I've built</h3>

<section class="ftco-section" style="padding-top:4em;">
    <div class="row">
        <div class="col-md-4 ftco-animate" style="background-color: #efefef;">
            <div>
                <p
                    style="display: block; margin-top: 100px; width: 100%; font-size: 40px; line-height: 46px;padding:0px 70px 20px 70px; color:#000;">
                    <b>SPOTIFY <br>PROFILE</b></p>
                <p
                    style="display: block; margin-top: 20px; width: 100%; line-height: 26px;padding:0px 70px 20px 70px; color:#000;">
                    This is a web app that you can use to visualize your personal Spotify data. View your playlists,
                    recently played tracks, and your favorite artists on the go</p>
                </p>
                <p class="small"
                    style="display: block; margin-top: 50px; width: 100%;padding:0px 70px 20px 70px; color:#000;">
                    Node JS &nbsp;|&nbsp; React JS &nbsp;|&nbsp; Express &nbsp;|&nbsp; Spotify Web API
                </p>
            </div>
        </div>
        <div class="col-md-8 ftco-animate" style="background-color: #ffd403; padding: 20px;">
            <div>
                <img src="{% static 'img/1-final.PNG' %}" class="img-fluid"
                    style="width:90%; height:auto; margin-top:45px; margin-left: 7%; vertical-align:middle; display:inline-block;">
            </div>

            <p class="text-left" style="margin-top:70px; color: #000;">
                <a href="https://myspotifyprofile.herokuapp.com" target="_blank"><span
                        style="background-color: black; padding:7px; font-size: 12px; color: #ffd403; border-radius: 10px;box-shadow: 0 9px 12px -6px rgba(0,0,0,.78)">See
                        it in action</span></a>
                <span style="float:right">
                    &nbsp;&nbsp;
                    <a href="https://github.com/fredricksimi/spotifyprofile" target="_blank"><img
                            src="https://img.icons8.com/color/48/000000/github--v1.png"></a>
                </span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 ftco-animate" style="background-color: #fff;">
            <div>
                <p
                    style="display: block; margin-top: 100px; width: 100%; font-size: 40px; line-height: 46px;padding:0px 70px 20px 70px; color:#000;">
                    <b>ATHENA - <br>THE MODERN RENTIQUETTE</b></p>
                <p
                    style="display: block; margin-top: 20px; width: 100%; line-height: 26px;padding:0px 70px 20px 70px; color:#000;">
                    This is a web app that you can use to rent your stuff out online, for some time.</p>
                </p>
                <p class="small"
                    style="display: block; margin-top: 50px; width: 100%;padding:0px 70px 20px 70px; color:#000;">
                    Python &nbsp;|&nbsp; Django
                </p>
            </div>
        </div>
        <div class="col-md-8 ftco-animate" style="background-color: #046fcc; padding: 20px;">
            <div>
                <img src="{% static 'img/drawing.png' %}" class="img-fluid"
                    style="width:100%; height:auto; margin-top:45px;margin-left: 7%; vertical-align:middle; display:inline-block;">
            </div>

            <p class="text-left" style="margin-top:70px; color: #fbfbfb;">
                <a href="https://athena.fredricksimi.com" target="_blank"><span
                        style="background-color: white; padding:7px; font-size: 12px; color: #046fcc; border-radius: 10px;box-shadow: 0 9px 12px -6px rgba(0,0,0,.78)">See
                        it in action</span></a>
                <span style="float:right">
                    &nbsp;&nbsp;
                    <a href="https://github.com/fredricksimi/projectathena" target="_blank"><img
                            src="https://img.icons8.com/color/48/000000/github--v1.png"></a>
                </span>
            </p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4 ftco-animate" style="background-color: #a90f88;">
            <div>
                <p style="color:#000; font-size: 45px;padding: 50px 70px 0px 70px;">
                    <img src="https://img.icons8.com/color/48/000000/opened-folder.png">
                    <span style="float: right;">
                        <a href="https://github.com/fredricksimi/Jarvis" target="_blank">
                            <img src="https://img.icons8.com/color/48/000000/github--v1.png">
                        </a>
                    </span>
                </p>

                <a href="https://github.com/fredricksimi/Jarvis">
                    <h3 style="padding-left: 70px; color:#fff;">Jarvis</h3>
                </a>
                <p
                    style="display: block; margin-top: 20px; width: 100%; font-size: 16px; line-height: 26px;padding:0px 70px 20px 70px; color:#fff">
                    Jarvis can help you to automate your tasks such as search videos in YouTube and play them,
                    inform weather forecast in your country, greetings and more.</p>
                <p
                    style="display: block; margin-top:20px; width: 100%; font-size: 12px; line-height: 13px; padding: 0px 70px 20px 70px; color: #fff;">
                    Python &nbsp;|&nbsp; Google TTS &nbsp;|&nbsp; Selenium &nbsp;|&nbsp; Speech Recognition
                </p>
            </div>
        </div>



        <div class="col-md-4 ftco-animate" style="background-color: #e2e2d5;">
            <div>
                <p style="color:#000; font-size: 45px;padding: 50px 70px 0px 70px;">
                    <img src="https://img.icons8.com/color/48/000000/opened-folder.png">
                    <span style="float: right;">
                        <a href="https://github.com/fredricksimi/Web-Scraping-IMDb" target="_blank">
                            <img src="https://img.icons8.com/color/48/000000/github--v1.png">
                        </a>
                    </span>
                </p>
                <a href="https://github.com/fredricksimi/Web-Scraping-IMDb">
                    <h3 style="padding-left: 70px; color:#000;">Web Scraping IMDb</h3>
                </a>
                <p
                    style="display: block; margin-top: 20px; width: 100%; font-size: 16px; line-height: 26px;padding:0px 70px 20px 70px; color:#000">
                    This is an application that crawls through the IMDb website and scrapes some information off of
                    it</p>
                <p
                    style="display: block; margin-top:20px; width: 100%; font-size: 12px; line-height: 13px; padding: 0px 70px 20px 70px; color: #000;">
                    Python &nbsp;|&nbsp; Scrapy API
                </p>
            </div>
        </div>


        <div class="col-md-4 ftco-animate" style="background-color: #252525;">
            <div>
                <p style="color:#000; font-size: 45px;padding: 50px 70px 0px 70px;">
                    <img src="https://img.icons8.com/color/48/000000/opened-folder.png">
                    <span style="float: right;">
                        <a href="https://github.com/fredricksimi/Twilio-Text-App" target="_blank">
                            <img src="https://img.icons8.com/color/48/000000/github--v1.png">
                        </a>
                    </span>
                </p>

                <a href="https://github.com/fredricksimi/Twilio-Text-App">
                    <h3 style="padding-left: 70px; color:#fff;">Twilio Text App</h3>
                </a>
                <p
                    style="display: block; margin-top: 20px; width: 100%; font-size: 16px; line-height: 26px;padding:0px 70px 20px 70px; color: #fff;">
                    This is a text app using Python and Twilio's text API</p>
                <p
                    style="display: block; margin-top:20px; width: 100%; font-size: 12px; line-height: 13px; padding: 0px 70px 20px 70px; color: #fff;">
                    Python &nbsp;|&nbsp; Twilio Text API
                </p>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section" style="padding:4em 0!important;">
    <div class="container">
        <h1>My Skills</h1>
        <br>
        <p>Through my studies and interaction with other developers, I've gained a solid understanding of computer science<br> and development concepts; and have dedicated
            a lot of my free time to apply these concepts.
        </p>
        <br>
        <div class="row d-flex">
            <div class="col-md-3 d-flex ftco-animate">
                <p class="text-left"><img src="https://img.icons8.com/color/48/000000/html-5.png"
                    style="height: 30px; width:auto;">&nbsp;&nbsp;&nbsp;&nbsp;HTML / CSS</p>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
                <p class="text-left"><img src="https://img.icons8.com/color/48/000000/javascript.png"
                        style="height: 30px; width:auto;">&nbsp;&nbsp;&nbsp;&nbsp;Javascript / jQuery</p>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
                <p class="text-left"><img src="https://img.icons8.com/color/48/000000/git.png"
                    style="height: 30px; width:auto;">&nbsp;&nbsp;&nbsp;&nbsp;Version Control (Git)</p><br>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
                <p class="text-left"><img src="https://img.icons8.com/color/48/000000/bootstrap.png"
                        style="height: 30px; width:auto;">&nbsp;&nbsp;&nbsp;&nbsp;Bootstrap</p>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md-3 d-flex ftco-animate">
                <p class="text-left"><img src="https://img.icons8.com/color/48/000000/python.png"
                    style="height: 30px; width:auto;">&nbsp;&nbsp;&nbsp;&nbsp;Python</p>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
                <p class="text-left"><img src="https://img.icons8.com/color/48/000000/django.png"
                        style="height: 30px; width:auto;">&nbsp;&nbsp;&nbsp;&nbsp;Django Web Framework</p>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
                <p class="text-left"><img src="https://img.icons8.com/color/48/000000/bot.png"
                    style="height: 30px; width:auto;">&nbsp;&nbsp;&nbsp;&nbsp;Web Scraping</p>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
                <p class="text-left"><img src="https://img.icons8.com/color/48/000000/linux.png"
                        style="height: 30px; width:auto;">&nbsp;&nbsp;&nbsp;&nbsp;Linux</p>
            </div>

        </div>
        <br><br>
        <h1>What I've been working on</h1> 
        <p>I like to stay busy and always have a project in the works. Take a look at some of the projects<br> I'm currently working on</p>
        <br>
        <div class="row d-flex">
            <div class="col-md-3 d-flex ftco-animate">
                <p><img src="{% static 'img/Go-Logo_Blue.png' %}" style="width: auto; height:48px">&nbsp;&nbsp;&nbsp;&nbsp;GoLang</p>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
                <p><img src="{% static 'img/eth-diamond-black.png' %}" style="width: auto; height:48px">&nbsp;&nbsp;&nbsp;&nbsp;Ethereum</p>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
                <p><img src="{% static 'img/logo_flutter_1080px_clr.png' %}" style="width: auto; height:48px">&nbsp;&nbsp;&nbsp;&nbsp;Flutter</p>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
                <p><img src="{% static 'img/blockchainlogo.png' %}" style="width: 48px; height:auto">&nbsp;&nbsp;&nbsp;&nbsp;Blockchain</p>
            </div>
        </div>
        <br><br>
        
    </div>
</section>
<p class="text-center">View my GitHub repos: <a href="https://github.com/fredricksimi/" target="_blank"><b>click here</b>.</a></p>
<section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center" style="padding-top: 2em;">
        <div class="container">
            <div class="row d-flex justify-content-center py-5">
                <div class="col-md-4 text-center heading-section ftco-animate">
                    <a href="https://drive.google.com/file/d/1i6f1alpORvLnwXB_TqBKQa6-1MeT8UAI/view?usp=sharing" target="_blank">
                        <h4
                            style="font-size: 100%; padding: 20px 0px 20px 0px; background-color: #046fcc; color: #fff;box-shadow: 0 9px 12px -6px rgba(0,0,0,.78); font-weight: 400; text-transform: uppercase;font-family: 'Roboto Condensed';letter-spacing: 6px;">
                            Download resume</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}